In [1]:
library(tidyverse)
library(tidylog)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘tidylog’


The following objects are masked from ‘package:dplyr’:

    add_count, add_tally, anti_join, count, distinct, distinct_all,
    distinct_at, distinct_if, filter, filter_all, filter_at, filter_if,
    full_join, group_by, group_by_all, group_by_at, group_by_if,
    inner_join, left_join, mutate, mutate_all, mutate_at, mutate_if,
    relocate, rename, rename_all, rename_at, rename_if, rename_with,
    right_join, sample_frac, sample_n, select, select_all, select_at,
    select_if, semi_join, slice, slice_head, slice_max, slice_min,
    slice_sample, slice_tail, summarise, summarise_all, summarise_at,
    summarise_if, summarize, summarize_all, summarize_at, summarize_if,
    tally, top_frac, top_n, transmute, transmute_all, transmute_at,
    transmute_if, ungroup


The following objects are masked from ‘package:tidyr’:

    drop_na, fill, gather, pivot_longer, pivot_wider, replace_na,
    spread, uncount


The following object is masked from ‘package:stats’:

    filter

In [2]:
t1 = read_tsv("otu-accession.tsv")
glimpse(t1)

Rows: 1669 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): otu, accession

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 1,669
Columns: 2
$ otu       <chr> "AACE03000034.3.1790", "AADK01036068.668.2582", "AAEC0300000…
$ accession <chr> "AACE03000034", "AADK01036068", "AAEC03000009", "AAEW0200000…

In [3]:
t2 = read_tsv("coral-microbiome-taxonomy.tsv")
glimpse(t2)

Rows: 1667 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (9): accession, species, genus, family, order, class, phylum, superkingd...
dbl (1): taxid

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 1,667
Columns: 10
$ accession    <chr> "ASMQ01000007", "ASMO01000004", "MNZY01000038", "MCBF0100…
$ taxid        <dbl> 743730, 1130284, 1803514, 1878999, 1104576, 1104575, 7437…
$ species      <chr> "Candidatus Aenigmarchaeum subterraneum", "Candidatus Aen…
$ genus        <chr> "Candidatus Aenigmarchaeum", "Unclassified Candidatus Aen…
$ family       <chr> "Unclassified Candidatus Aenigmarchaeota", "Unclassified …
$ order        <chr> "Unclassified Candidatus Aenigmarchaeota", "Unclassified …
$ class        <chr> "Unclassified Candidatus Aenigmarchaeota", "Unclassified …
$ phylum       <chr> "Candidatus Aenigmarchaeota", "Candidatus Aenigmarchaeota…
$ superkingdom <chr> "Archaea", "Archaea", "Archaea", "Archaea", "Archaea", "A…
$ path         <chr> "Archaea➤Candidatus Aenigmarchaeota➤Unclassified Candidat…

In [4]:
t3 = t1 %>% inner_join(t2)

Joining, by = "accession"
inner_join: added 9 columns (taxid, species, genus, family, order, …)

            > rows only in x  (    0)

            > rows only in y  (    0)

            > matched rows     1,669

            >                 =======

            > rows total       1,669

In [5]:
glimpse(t3)

Rows: 1,669
Columns: 11
$ otu          <chr> "AACE03000034.3.1790", "AADK01036068.668.2582", "AAEC0300…
$ accession    <chr> "AACE03000034", "AADK01036068", "AAEC03000009", "AAEW0200…
$ taxid        <dbl> 226302, 7091, 246410, 281689, 314264, 398720, 314230, 314…
$ species      <chr> "Lachancea kluyveri", "Bombyx mori", "Coccidioides immiti…
$ genus        <chr> "Lachancea", "Bombyx", "Coccidioides", "Desulfuromonas", …
$ family       <chr> "Saccharomycetaceae", "Bombycidae", "Onygenaceae", "Desul…
$ order        <chr> "Saccharomycetales", "Lepidoptera", "Onygenales", "Desulf…
$ class        <chr> "Saccharomycetes", "Insecta", "Eurotiomycetes", "Deltapro…
$ phylum       <chr> "Ascomycota", "Arthropoda", "Ascomycota", "Proteobacteria…
$ superkingdom <chr> "Eukaryota", "Eukaryota", "Eukaryota", "Bacteria", "Bacte…
$ path         <chr> "Eukaryota➤Ascomycota➤Saccharomycetes➤Saccharomycetales➤S…

In [6]:
write_tsv(t3, "coral-microbiome-ref.tsv")

In [ ]:
sessionInfo()