In [1]:
import pandas as pd

In [2]:
tax_levels = ["kingdom", "phylum", "class", "order", "family", "genus", "species"]
tax_levels

['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']

In [3]:
tax_unclassified = "_unclassified_"
tax_unclassified

'_unclassified_'

In [4]:
df = pd.read_table("/data/silva/SILVA138.txt")
df.head()

                  accession                                               path
0  MNUF01000028.16163.17137  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...
1  ASMO01000004.23831.25277  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...
2  ASMQ01000007.23975.25425  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...
3           AB600437.1.1389  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...
4           AB600445.1.1407  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...

In [5]:
outfile = open("/tmp/SILVA138_bacteria_taxa.tsv", "w")

outfile.write ("accession" + "\t" + "path" + "\t" + "\t".join(tax_levels) + "\n")

for index, row in df.iterrows():
    accession = row['accession']
    path = row['path']
    tokens = path.split(';')
    count = len (tokens)
    
    taxa = [tax_unclassified] * len(tax_levels)
    
    if (tokens[0] == "Archaea") or (tokens[0] == "Bacteria"):
                
        taxa[len(tax_levels) - 1] = tokens[count - 1]
        
        for i in range(count):
            taxa[i] = tokens[i]
        
        outfile.write(accession + "\t" + path + "\t" + "\t".join(taxa) + "\n")
    
outfile.close()

In [6]:
df2 = pd.read_table("/tmp/SILVA138_bacteria_taxa.tsv")
df2.head()

,accession,path,kingdom,phylum,class,order,family,genus,species
0,MNUF01000028.16163.17137,Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...,Archaea,Aenigmarchaeota,Aenigmarchaeia,Aenigmarchaeales,Candidatus Aenigmarchaeota archaeon CG1_02_38_14,_unclassified_,Candidatus Aenigmarchaeota archaeon CG1_02_38_14
1,ASMO01000004.23831.25277,Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...,Archaea,Aenigmarchaeota,Aenigmarchaeia,Aenigmarchaeales,Candidatus Aenigmarchaeota archaeon JGI 000010...,_unclassified_,Candidatus Aenigmarchaeota archaeon JGI 000010...
2,ASMQ01000007.23975.25425,Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...,Archaea,Aenigmarchaeota,Aenigmarchaeia,Aenigmarchaeales,Candidatus Aenigmarchaeum,Candidatus Aenigmarchaeum subterraneum SCGC AA...,Candidatus Aenigmarchaeum subterraneum SCGC AA...
3,AB600437.1.1389,Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...,Archaea,Aenigmarchaeota,Aenigmarchaeia,Aenigmarchaeales,Candidatus Aenigmarchaeum,uncultured archaeon,uncultured archaeon
4,AB600445.1.1407,Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...,Archaea,Aenigmarchaeota,Aenigmarchaeia,Aenigmarchaeales,Candidatus Aenigmarchaeum,uncultured archaeon,uncultured archaeon