In [1]:
import pandas as pd

In [2]:
tax_levels = ["kingdom", "phylum", "class", "order", "family", "genus", "species"]
tax_levels

['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']

In [3]:
tax_unclassified = "_unclassified_"
tax_unclassified

'_unclassified_'

In [11]:
df = pd.read_table("/data/silva/SILVA138.txt")
df.head()

                  accession                                               path
0  MNUF01000028.16163.17137  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...
1  ASMO01000004.23831.25277  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...
2  ASMQ01000007.23975.25425  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...
3           AB600437.1.1389  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...
4           AB600445.1.1407  Archaea;Aenigmarchaeota;Aenigmarchaeia;Aenigma...

In [18]:
min = 1e6
max = 0

outfile = open("/tmp/SILVA138_eukarya_taxa.tsv", "w")

outfile.write ("accession" + "\t" + "path" + "\t" + "\t".join(tax_levels) + "\n")

for index, row in df.iterrows():
    accession = row['accession']
    path = row['path']
    tokens = path.split(';')
    count = len (tokens)
    
    taxa = [tax_unclassified] * len(tax_levels)
    
    if (tokens[0] == "Eukaryota"):
        
        if (count < min):
            min = count
            
        if (count > max):
            max = count
            
        taxa[len(tax_levels) - 1] = tokens[count - 1]

        if (count > len(tax_levels)):
            knowns = len(tax_levels)
        else:
            knowns = count
        
        for i in range(knowns):
            taxa[i] = tokens[i]
            

        outfile.write(accession + "\t" + path + "\t" + "\t".join(taxa) + "\n")
 
outfile.close()

print (min, max)

2 20

In [19]:
df2 = pd.read_table("/tmp/SILVA138_eukarya_taxa.tsv")
df2.head()

,accession,path,kingdom,phylum,class,order,family,genus,species
0,KF651077.1.1739,Eukaryota;Acavomonas peruviana,Eukaryota,Acavomonas peruviana,_unclassified_,_unclassified_,_unclassified_,_unclassified_,Acavomonas peruviana
1,DQ286371.1.1916,Eukaryota;Amorphea;Amoebozoa;Archamoebae;Entam...,Eukaryota,Amorphea,Amoebozoa,Archamoebae,Entamoebida,Entamoeba,Entamoeba equi
2,D28490.1.1918,Eukaryota;Amorphea;Amoebozoa;Archamoebae;Entam...,Eukaryota,Amorphea,Amoebozoa,Archamoebae,Entamoebida,Entamoeba,Entamoeba gingivalis
3,AF149909.1.1942,Eukaryota;Amorphea;Amoebozoa;Archamoebae;Entam...,Eukaryota,Amorphea,Amoebozoa,Archamoebae,Entamoebida,Entamoeba,Entamoeba insolita
4,KR025407.1.1400,Eukaryota;Amorphea;Amoebozoa;Archamoebae;Entam...,Eukaryota,Amorphea,Amoebozoa,Archamoebae,Entamoebida,Entamoeba,Entamoeba sp. RL9