In [1]:
library(taxadb)

In [2]:
filter_id(c("NCBI:83765"))

  input      sort taxonID scientificName taxonRank acceptedNameUsageID
1 NCBI:83765 1    NA      NA             NA        NA
  taxonomicStatus update_date kingdom phylum class order family genus
1 NA              NA          NA      NA     NA    NA    NA     NA
  specificEpithet infraspecificEpithet vernacularName
1 NA              NA                   NA

In [3]:
filter_id(c("ITIS:1077358", "ITIS:175089"))

  input        sort taxonID      scientificName        taxonRank
1 ITIS:1077358 1    ITIS:1077358 Antrostomus vociferus species
2 ITIS:175089  2    ITIS:175089  Anas cyanoptera       species
  acceptedNameUsageID taxonomicStatus update_date kingdom  phylum   class
1 ITIS:1077358        accepted        2018-06-26  Animalia Chordata Aves
2 ITIS:175089         accepted        2007-01-23  Animalia Chordata Aves
  order            family        genus       specificEpithet
1 Caprimulgiformes Caprimulgidae Antrostomus vociferus
2 Anseriformes     Anatidae      Anas        cyanoptera
  infraspecificEpithet vernacularName
1 NA                   Eastern Whip poor will
2 NA                   Cinnamon Teal