In [7]:
library(tidyverse)
library(tidylog)
library(randomcoloR)

In [12]:
t1 = read_tsv("coral-microbiome-phyla.tsv")
head(t1)

Rows: 1669 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): otu, phylum

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  otu                        phylum
1 ASMQ01000007.23975.25425   Candidatus Aenigmarchaeota
2 ASMO01000004.23831.25277   Candidatus Aenigmarchaeota
3 MNZY01000038.10559.12029   Candidatus Altiarchaeota
4 MCBF01000001.541619.543111 Candidatus Altiarchaeota
5 AQRS01000026.3862.5336     Candidatus Diapherotrites
6 ASMR01000001.18974.20405   Candidatus Diapherotrites

In [13]:
phyla = t1 %>% select(phylum) %>% distinct()
head(phyla)

select: dropped one variable (otu)

distinct: removed 1,525 rows (91%), 144 rows remaining

  phylum
1 Candidatus Aenigmarchaeota
2 Candidatus Altiarchaeota
3 Candidatus Diapherotrites
4 Candidatus Korarchaeota
5 Candidatus Lokiarchaeota
6 Candidatus Thermoplasmatota

In [14]:
palette = distinctColorPalette(nrow(phyla))
head(palette)
tail(palette)

[1] "#C19EDA" "#94D1EA" "#F53495" "#84A8EF" "#6C7960" "#F197A3"

[1] "#EF5ABE" "#693F8F" "#7584CD" "#51F33A" "#BB8B9D" "#E8E736"

In [15]:
phyla2 = phyla %>% mutate (color = palette)
head(phyla2)

mutate: new variable 'color' (character) with 144 unique values and 0% NA

  phylum                      color
1 Candidatus Aenigmarchaeota  #C19EDA
2 Candidatus Altiarchaeota    #94D1EA
3 Candidatus Diapherotrites   #F53495
4 Candidatus Korarchaeota     #84A8EF
5 Candidatus Lokiarchaeota    #6C7960
6 Candidatus Thermoplasmatota #F197A3

In [16]:
t2 = t1 %>% inner_join(phyla2)
head(t2)

Joining, by = "phylum"
inner_join: added one column (color)

            > rows only in x  (    0)

            > rows only in y  (    0)

            > matched rows     1,669

            >                 =======

            > rows total       1,669

  otu                        phylum                     color
1 ASMQ01000007.23975.25425   Candidatus Aenigmarchaeota #C19EDA
2 ASMO01000004.23831.25277   Candidatus Aenigmarchaeota #C19EDA
3 MNZY01000038.10559.12029   Candidatus Altiarchaeota   #94D1EA
4 MCBF01000001.541619.543111 Candidatus Altiarchaeota   #94D1EA
5 AQRS01000026.3862.5336     Candidatus Diapherotrites  #F53495
6 ASMR01000001.18974.20405   Candidatus Diapherotrites  #F53495

In [17]:
write_tsv(t2, "coral-microbiome-phyla-with-colors.tsv")

In [ ]:
sessionInfo